#content-body {
    width: 60%;
    float: left;
}

#content-body p {
    text-align: justify;
}

#portrait-frame {
    width: 40%;
    float: left;
}

#portrait-frame > img {
    width: 200px;
}

@media only screen and (max-width: 640px) {
    #content-body {
        width: 100%;
    }

    #portrait-frame {
        width: 100%;
        text-align: center;
    }
}
